.main-frame{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

p-steps{
    padding: 50px 0 70px;
    display: block;
    width: 100%;
}

.route-frame{
    max-width: 500px;
    width: 100%;
 }

